@CHARSET "ISO-8859-1";
body {
    padding:50px 80px;
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

:focus {
    -moz-outline-style:none;
}

/* form style */
#reg_form {
    background:#333 url(/RegPath/resources/images/h300.png) repeat-x;
    padding:15px 20px;
    color:#eee;
    width:400px;
    margin:0 auto;
    position:relative;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

/* nested fieldset */
#reg_form fieldset {
    border:0;
    margin:0;
    padding:0;
    background:#333333;
}

/* typography */
#reg_form h3 { color:#eee; margin-top:0px; }
#reg_form p { font-size:11px; }


/* input field */
#reg_form input {
    border:1px solid #444;
    background-color:#666;
    padding:5px;
    color:#ddd;
    font-size:12px;

    /* CSS3 spicing */
    text-shadow:1px 1px 1px #000;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#reg_form input:focus { color:#fff; background-color:#777; }
#reg_form input:active { background-color:#888; }


/* button */
#reg_form button {
    outline:0;
    border:1px solid #666;
}


/* error message */
.error {
    height:15px;
    background-color:#FFFE36;
    font-size:11px;
    border:1px solid #E1E16D;
    padding:4px 10px;
    color:#000;
    display:none;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;

    -moz-box-shadow:0 0 6px #ddd;
    -webkit-box-shadow:0 0 6px #ddd;
}

.error p {
    margin:0;
}

.radiotype {
	display: inline !important;
}

/* field label */
label {
    display:block;
    font-size:11px;
    color:#ccc;
}

#terms label {
    float:left;
}

#terms input {
    margin:0 5px;
}